.game{
  text-align: center;
  height: 100vh;
  background-image: url('../../assets/img/background1.jpg');
}
#boardGame{
  margin:0 auto;
  width:600px;
  background-color: sandybrown;
  background-image:linear-gradient(to bottom right,sandybrown, saddlebrown);
  border-radius: 25px;
  padding: 20px;
}
.flex-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flex-item{
  text-align: center;
  width:70px;
  height:70px;
  margin:5px;
  border-radius: 50%;
}

.gameDetails1{
  margin-top: 20px;
}
.gameDetails2{
  margin-top: 20px;
}
#player1Wins{
  color: darkblue;
}
.player2Wins{
  color:red;
}
.endButton{
  margin:10px;
  display: inline;
  padding:10px;
  width:200px;
  height:50px;
  animation: winner 3s linear infinite;
}
@keyframes winner {
  0%   {background-color: red;}
  50%  {background-color: firebrick;}
  100%   {background-color: darkred;}
}
#titleImage{
  max-width: 500px;
  max-height: 500px;
}
@media all and (max-width: 900px) {
  .flex-item{
    width:50px;
    height:50px
  }
  #boardGame{
    width:450px;
  }
}
@media all and (max-width: 500px) {
.flex-item{
  width:30px;
  height:30px
}
  #boardGame{
    width:300px;
  }
  #titleImage
  {
    max-width: 200px;
    max-height: 200px;
  }
  .endButton{
    width:150px;
    height:50px;
    font-size: small;
  }
  h5{
   font-size: 0.9rem;
 }
}
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {
  .flex-item{
    width:40px;
    height:40px
  }
  #boardGame{
    width:400px;
  }
  #titleImage
  {
    max-width: 200px;
    max-height: 200px;
  }
  .endButton{
    width:150px;
    height:50px;
    font-size: small;
  }
}
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) {
  .flex-item{
    width:40px;
    height:40px
  }
  #boardGame{
    width:400px;
  }
  #titleImage
  {
    max-width: 200px;
    max-height: 200px;
  }
  .endButton{
    width:150px;
    height:50px;
    font-size: small;
  }
}

