<div class="game">
  <br><br>
  <img id="titleImage" src='../assets/img/title.png'>
  <div *ngIf="!gameOver">
    <div class="container">
    <div class="row">
      <div class="col-6 gameDetails1 ">
        <h3>Current Player:</h3>
        <h3 [ngStyle]="{'color':getPlayerColor()}"><strong>{{currentPlayer.name}}</strong> </h3>
      </div>
      <div class="col-6 gameDetails2">
        <h5 id="player1Wins"><span class="fa fa-user"></span> {{player1.name}} Wins: {{player1.wins}}</h5>
        <hr style="background-color: black">
        <h5 *ngIf="vsComputer" class="player2Wins"><span class="fa fa-laptop"></span> {{player2.name}} Wins: {{player2.wins}}</h5>
        <h5 *ngIf="!vsComputer" class="player2Wins"><span class="fa fa-user"></span> {{player2.name}} Wins: {{player2.wins}}</h5>
      </div>
    </div>
  </div>
  </div>
  <div *ngIf="gameOver">
    <h3 *ngIf="!draw" class="gameDetails1">Winner is {{winner.name}}</h3>
    <h3 *ngIf="draw" class="gameDetails1">It's a Draw! no winner here...</h3>
    <button class="endButton" (click)="restartGame()"><b>Play Again</b></button>
    <button class="endButton" (click)="goBackToLobby()"><b>Go back to lobby</b></button>
  </div>
  <br>
  <br>
  <div id="boardGame">
  <div class="flex-container" *ngFor="let row of board;let i=index">
    <div *ngFor="let value of row;let j=index">
      <div class="flex-item" (click)="cellClicked(i,j)" [ngStyle]="{'background-color':getBackgroundColor(i,j)}"></div>
    </div>
  </div>
  </div>
</div>
