
.lobby{
  text-align: center;
  height: 100vh;
  background-image: url("https://static.vecteezy.com/system/resources/previews/000/101/237/large_2x/free-abstract-background-11-vector.jpg");
}
.form-group{
  margin: 0 auto;
  float: none;
}
.btn-primary{
  margin: 30px;
  display: block;
}
label{
  color: crimson;
  font-weight: bold;
  font-size: larger;
}
#hello{
  margin-top: 30px;

}
#titleImage{
  max-width: 600px;
  max-height: 600px;
}
@media all and (max-width: 500px) {
  .display-3 {
    font-size: 2rem;
  }
  #titleImage
  {
    max-width: 300px;
    max-height: 300px;
  }
}
