.lobby{
  text-align: center;
  height: 100vh;
  background-image: url('../assets/img/background1.jpg');
}
.form-group{
  margin: 0 auto;
  float: none;
}
.btn-primary{
  margin: 30px;
}
label{
  font-weight: bold;
  color:darkblue;
}
#labelPlayer2{
  color: red;
}
#twoPlayersGame{
  color: grey;
}
#player2Name{
color: grey;
}
#titleImage{
  max-width: 600px;
  max-height: 600px;
}
@media all and (max-width: 500px) {
  .display-3 {
    display: inline;
    font-size: 1.5rem;
  }
  #hello{
    margin-right:10px;
  }
  #titleImage
  {
    max-width: 300px;
    max-height: 300px;
  }
}
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {
  .display-3 {
    display: inline;
    font-size: 2rem;
  }
  #hello{
    margin-right:10px;
  }
  #titleImage
  {
    max-width: 300px;
    max-height: 300px;
  }
}
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) {
  .display-3 {
    display: inline;
    font-size: 2rem;
  }
  #hello{
    margin-right:10px;
  }
  #titleImage
  {
    max-width: 300px;
    max-height: 300px;
  }
}
